header {
  
  position: relative;
  /*! padding: 20px 0; */
}
header .wrap{
  display: flex;
  margin-top: 30px;
  
  position: absolute;
  /*! padding: calc(100% - 1200px) / 2; */
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: center;
  z-index: 1;
  
}
header h1 {
  display: flex;
  background-image: url(../img/logo_white.svg);
  width:230px;
  height:29px;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
header h1 a {
  
}
header ul.gnb {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
header ul.gnb li {
  
  width: 15%;
  text-align: center;
}
header ul.gnb a {
  
  padding: 0 22px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #ffffde;
  
}

header ul.gnb  a:hover{
  color:white;
} 
header ul.allmenu{
  
  float: right;
}

header a.allmenu {
  font-size: 0;
  border: 2px solid #fff;
  width: 7px;
  height: 7px;
  
  display: block;
  position: relative;
  /*! left: -20px; */
  /*! top: 21px; */
}

header a.allmenu span{
   border: 2px solid white;
  display: block;
  width: 7px;
  height: 7px;
  
   left: -2px;
   top: 11px;
   position: absolute;
   position: relative;
   transition:all 0.5s;
}

header .allmenu span::before{
  content:"";
  display: block;
  width: 7px;
  height: 7px;
  border: 2px solid white;
  
  position: absolute;
  left: -15px;
  top: -2px;
}

header .allmenu span::after{
  content:"";
  display: block;
  width: 7px;
  height: 7px;
  border: 2px solid white;
  position: absolute;
  left: -15px;
  top: -15px;
}

header .allmenu span:hover{
  border-color:#f4b3b3;
}

header .allmenu span:hover::before{
  border-color:#f4b3b3;
}

header .allmenu span:hover::after{
  border-color:#f4b3b3;
}

